h4 span {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

/* Styles pour le titre h3 */
p {
    display: flex;
    flex-direction: column-reverse;

    color: grey;
    font-size: 11px;
    font-weight: 300;
    margin: -16px;
    padding: 10px;
}

h3 {
    color: hsl(25, 97%, 53%);
    font-size: 13px;
    font-weight: 400;
    margin: 4px;

}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}

/* Conteneur principal */
.rating-container {
    border-radius: 20px;
    max-width: 375px;
    width: 205px;
    height: 260px;
    margin: 50px auto;
    padding: 45px;
    background-color: hsl(213, 19%, 18%);
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centre verticalement */
    align-items: center;
    /* Centre horizontalement */
}

/* Style pour h1 à l'intérieur de .rating-container */
.rating-container h2 {
    color: white;
    display: flex;
    font-size: 20px;
    margin-right: 68px;
    text-align: left;
    white-space: nowrap; 
}

.rating-container img {
    color: white;
    display: flex;

    margin-right: 191px;

}

/* Style pour p à l'intérieur de .rating-container */
.rating-container p {
    color: grey;
}

/* Styles pour les étoiles d'évaluation */
.rating-stars {
    display: flex;
    gap: 40px;
    /* gap to 40px */
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.rating-star {
    color: hsl(0, 0%, 100%);
    /* Couleur du chiffre */
    position: relative;
   
}

.rating-star::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

.rating-star:hover::before {
    background-color: hsl(25, 97%, 53%);
}

/* Styles pour le bouton de soumission */
.submit-button {
    padding: 10px 20px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

/* Styles pour l'élément qui s'ouvre lorsqu'on clique */
.ThankYouCard {
    border-radius: 20px;
    max-width: 375px;
    width: 205px;
    height: 260px;
    margin: 50px auto;
    padding: 45px;
    background-color: hsl(213, 19%, 18%);
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centre verticalement */
    align-items: center;
    /* Centre horizontalement */
    z-index: 1000;
}

/* Bouton de notation sélectionné */
.selected-rating-button {
    background-color: hsl(240, 1%, 25%);
    color: hsla(25, 97%, 53%, 0.499);
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid hsla(45, 4%, 18%, 0.534);
    border-radius: 24px;
    width: 80%;
    height: 12%;

}
.rating-star.selected::before {
    background-color: hsl(25, 97%, 53%);
}
.rating-star::before {
    content: attr(data-rating);
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:hsl(240, 1%, 25%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

/* Styles pour le lien d'attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: hsl(228, 45%, 44%);
}

/* Styles de typographie */
body {
    font-size: 15px;
    /* Taille du texte de paragraphe */
}

.ThankYouCard {
    display: flex;
}

.hidden {
    display: none;
}

/* Media query pour les écrans de bureau */
@media (min-width: 1440px) {
    .rating-container {
        max-width: 1440px;
    }

    .ThankYouCard {
        max-width: 1440px;
    }
}

/* Media query pour les écrans mobiles */
@media (max-width: 375px) {
    .rating-container {
        max-width: 100%;
        /* La largeur maximale sera celle de l'écran */
    }

    .ThankYouCard {
        max-width: 100%;
    }
}



